/* ________ RESET  ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ________ FINE RESET ________ */

/* ________ REGOLE GENERALI ________*/

/* ________ FINE REGOLE GENERALI ________*/

/*  MAIN  */
.menu {
  float: left;
  width: 300px;
  height: calc( 100vh - 100px);
  background-color: lightgreen; /*cancellare*/
}
.menu .logo {
  height: 100px;
  background-color: cyan; /*cancellare*/
}
.menu .search {
  height: 150px;
  background-color: orange; /*cancellare*/
}
.menu .playlist {
  height: calc( 100vh - 350px);
  background-color: red; /*cancellare*/
}

.upgrade {
  float: left;
  width: calc( 100% - 300px);
  height: 100px;
  background-color: green; /*cancellare*/
}

.album {
  float: left;
  width: calc( 100% - 300px);
  height: calc( 100vh - 200px);
  overflow: auto;
  background-color: yellow; /*cancellare*/
}
/*  FINE MAIN  */

/*  FOOTER  */
footer .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: blue; /*cancellare*/
  width: 100%;
  height: 100px;
}

footer .row > .box {
  background-color: lightblue; /*cancellare*/
  border: 5px solid goldenrod; /*cancellare*/
  flex: 1;
  text-align: center;
}
/*  FINE FOOTER  */
